= form_tag throws_path do
  .form-group
    = select_tag :sign, options_for_select(signs), prompt: 'Select sign', class: 'form-control'

  .form-actions
    = submit_tag 'Throw', class: 'btn btn-primary'